body {
  margin: 5%;
}

h1 {
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
  text-underline-offset: 25px;
  margin-bottom: 80px;
}

h1,
h2 {
  color: rgb(248, 80, 80);
}

.lists-form {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.recent-scores {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-lists {
  list-style: none;
  width: 450px;
  height: 50vh;
  overflow-y: scroll;
  scrollbar-width: auto;
  border: 1px solid wheat;
}

input {
  margin-bottom: 15px;
  width: 15vw;
  height: 4vh;
  border: none;
  border-bottom: 2px solid rgb(248, 80, 80);
  font-size: 20px;
  color: rgb(248, 80, 80);
  font-weight: 700;
}

input::placeholder {
  color: rgb(151, 151, 151);
  font-weight: 500;
}

input:focus {
  outline: none;
  background-color: rgb(248, 80, 80);
  color: white;
  font-weight: 700;
}

input:focus::placeholder {
  color: white;
  font-weight: 500;
}

.btn {
  color: white;
  font-weight: 700;
  width: 100px;
  height: 40px;
  background-color: rgb(248, 80, 80);
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.btn-submit {
  float: right;
}

#nameScoreDiv {
  display: flex;
  padding: 10px 200px 10px 5px;
  gap: 10px;
  border-bottom: 2px solid rgb(248, 80, 80);
  font-weight: 700;
  font-size: 20px;
  color: rgb(248, 80, 80);
  text-transform: capitalize;
}

#nameScoreDiv:nth-child(odd) {
  background: rgb(248, 80, 80);
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 200px 10px 5px;
  text-transform: capitalize;
}

.full-load,
.form-load {
  text-align: center;
  color: green;
}
